@{
    ViewBag.Title = "Stock Price Prediction";
}

<h2>Stock Price Prediction Through Machine Learning</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Predict" method="post" id="predictionForm">
    <div class="form-group">
        <label for="selectedTicker">Select a Company (S&P500 Companies)</label>
        <select name="selectedTicker" id="selectedTicker" class="form-control">
            <option value="">Select a Company from the list</option>
            @foreach (var company in ViewBag.Companies)
            {
                <option value="@company.Ticker">@company.DisplayName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Get Prediction</button>
</form>

<!-- Bootstrap Toast -->
<div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
    <div id="predictionToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">Loading...</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hi. My machine learning models' microservice is hosted in a different Free Server (Render). Hence, loading time could be a bit high sometimes:(. 
            <div>
                <b>Please retry if timed out (Second try is usually faster).</b> Thank you for your patience.
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('predictionForm').addEventListener('submit', function (e) {
            // Show the toast
            var toastElement = document.getElementById('predictionToast');
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        });
    </script>
}
