@{
    ViewData["Title"] = "About";
}
<h4>@ViewData["Title"]</h4>

<p>Stock Price Predictor - Developed by Karthik Appaswamy (akarthikcan@gmail.com)</p>

<P>Predicition done through Machine Learning Models Developed & Trained by me.  </P>

<p>Machine learning models are hosted in a Free Server. Hence, loading time could be a bit high sometimes :(.</p>

<p>Thank you for viewing my personal coding project.</p>