@{
    ViewData["Title"] = "About";
}
<h4>@ViewData["Title"]</h4>

<p>Stock Price Predictor - Developed Karthik Appaswamy (akarthikcan@gmail.com)</p>

<P>Predicition done through Machine Learning Models Developed & Trained by me  </P>