@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="navbar-brand" asp-area="" asp-controller="Stock" asp-action="Index">Click here to predict the stock prices</a></p>
</div>
